body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #21212a;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.maintenance-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
    margin-top: 10px;
}
